---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token?client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-6987cfc9-7a89d6de2a8a4fb85de19b9d
    body:
      encoding: UTF-8
      string: '{"access_token":"<IGDB_ACCESS_TOKEN>","expires_in":5556876,"token_type":"bearer"}

        '
  recorded_at: Sat, 07 Feb 2026 23:50:33 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name,slug,summary,cover.url,cover.image_id,genres.name,genres.slug,platforms.name,rating,first_release_date,involved_companies.company.name;
        where id = 1025;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Date:
      - Sat, 07 Feb 2026 23:50:34 GMT
      X-Amzn-Requestid:
      - 4f209cdf-3d38-4fbc-b061-084c23a9c0ea
      X-Amzn-Remapped-Content-Length:
      - '820'
      X-Pool:
      - default
      X-Amz-Apigw-Id:
      - Yb1ntEvZPHcEWuw=
      X-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1025,
            "cover": {
              "id": 86234,
              "image_id": "co1uje",
              "url": "//images.igdb.com/igdb/image/upload/t_thumb/co1uje.jpg"
            },
            "first_release_date": 537580800,
            "genres": [
              {
                "id": 8,
                "name": "Platform",
                "slug": "platform"
              },
              {
                "id": 12,
                "name": "Role-playing (RPG)",
                "slug": "role-playing-rpg"
              },
              {
                "id": 31,
                "name": "Adventure",
                "slug": "adventure"
              }
            ],
            "involved_companies": [
              {
                "id": 149156,
                "company": {
                  "id": 70,
                  "name": "Nintendo"
                }
              },
              {
                "id": 198227,
                "company": {
                  "id": 32471,
                  "name": "Nintendo R\u0026D4"
                }
              },
              {
                "id": 225322,
                "company": {
                  "id": 33804,
                  "name": "Playtronic"
                }
              }
            ],
            "name": "Zelda II: The Adventure of Link",
            "platforms": [
              {
                "id": 51,
                "name": "Family Computer Disk System"
              },
              {
                "id": 37,
                "name": "Nintendo 3DS"
              },
              {
                "id": 5,
                "name": "Wii"
              },
              {
                "id": 41,
                "name": "Wii U"
              },
              {
                "id": 18,
                "name": "Nintendo Entertainment System"
              }
            ],
            "rating": 65.97119224765927,
            "slug": "zelda-ii-the-adventure-of-link",
            "summary": "Zelda II: The Adventure of Link is the second major installment in The Legend of Zelda series and the direct sequel to the first game. Like its predecessor, it features dungeons that must be located in the overworld and searched for an item that will prove useful. However, the game presents many very important gameplay changes compared to the previous one, affecting especially the movements and the combat. Moving around the world map involves encounters with enemies that take place on a side-scrolling playfield rather than the top-down perspective for which the series became known."
          }
        ]
  recorded_at: Sat, 07 Feb 2026 23:50:34 GMT
recorded_with: VCR 6.4.0
