---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token?client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-69879a67-7a6bb1c7410ab1e2381e4f41
    body:
      encoding: UTF-8
      string: '{"access_token":"<IGDB_ACCESS_TOKEN>","expires_in":4793390,"token_type":"bearer"}

        '
  recorded_at: Sat, 07 Feb 2026 20:02:48 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: search "zelda"; fields name,slug,summary,cover.url,cover.image_id,genres.name,genres.slug,platforms.name,rating,first_release_date,involved_companies.company.name;
        limit 3;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer 373wtcqhhimjqbewq6m7wcfwe3eeom
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Remapped-Date:
      - Sat, 07 Feb 2026 20:02:48 GMT
      X-Amzn-Requestid:
      - 344106a7-1901-431a-adcd-eccb6fa006d8
      X-Amzn-Remapped-Content-Length:
      - '1722'
      X-Pool:
      - default
      X-Amz-Apigw-Id:
      - YbUQcHPxPHcEEgw=
      X-Count:
      - '369'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1022,
            "cover": {
              "id": 86202,
              "image_id": "co1uii",
              "url": "//images.igdb.com/igdb/image/upload/t_thumb/co1uii.jpg"
            },
            "first_release_date": 509328000,
            "genres": [
              {
                "id": 31,
                "name": "Adventure",
                "slug": "adventure"
              }
            ],
            "involved_companies": [
              {
                "id": 180342,
                "company": {
                  "id": 70,
                  "name": "Nintendo"
                }
              },
              {
                "id": 197987,
                "company": {
                  "id": 32471,
                  "name": "Nintendo R\u0026D4"
                }
              },
              {
                "id": 225320,
                "company": {
                  "id": 33804,
                  "name": "Playtronic"
                }
              }
            ],
            "name": "The Legend of Zelda",
            "platforms": [
              {
                "id": 51,
                "name": "Family Computer Disk System"
              },
              {
                "id": 37,
                "name": "Nintendo 3DS"
              },
              {
                "id": 5,
                "name": "Wii"
              },
              {
                "id": 99,
                "name": "Family Computer"
              },
              {
                "id": 41,
                "name": "Wii U"
              },
              {
                "id": 18,
                "name": "Nintendo Entertainment System"
              }
            ],
            "rating": 80.33515720762011,
            "slug": "the-legend-of-zelda",
            "summary": "The Legend of Zelda is the first title in the Zelda series, it has marked the history of video games particularly for it\u0027s game mechanics and universe. The player controls Link and must make his way through the forests, graveyards, plains and deserts of the Otherworld to find the secret entrances to the eight dungeons and try to restore the broken Triforce. Among the game\u0027s mechanics, it was the first time we saw a continuous world that could be freely explored, power-ups that perman[...]
